header{
    width: 100%;
    background-color: rgb(20, 19, 19);
    padding: 15px 0;
    position: fixed;
    z-index: 999;
}
.top-header{
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}
.menu ul{
    display: flex;

}
.menu ul li {
    margin-right: 30px;
    list-style: none;
    
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
}